<div class="container-fluid">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-2">
            <img src="https://img.icons8.com/dusk/64/000000/list.png"/>
        </div>
        <div class="col-8">
            <h3>ToDo List of Studants of IFCE</h3>
        </div>
        <div class="col-2">
            <img src="https://img.icons8.com/wired/64/000000/circled-user.png"/>
            <p> {{userName}} </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center text-center" >
        <div class="col-1 m-1 pt-2" style="background-color: rgb(95, 158, 160); height: 20rem">
            <p><a href="/novaTarefa"><img src="https://img.icons8.com/wired/32/000000/add--v2.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/wired/32/000000/zoom-in.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/windows/32/000000/update-tag.png"/></a></p>
            <p><a href="#"><img src="https://img.icons8.com/wired/32/000000/help.png"/></a></p>
        </div>
        <div class="col-10">
            <table class="table table-striped">
                <tr>
                    <th>Id</th><th>Título</th><th>Descrição</th><th>Estado</th>
                </tr>
            {{#each dados.rows}}
                <tr>
                    <td>{{this.id}}</td><td>{{this.titulo}}</td><td>{{this.descricao}}</td><td>{{this.estado}}</td>
                </tr>
            {{/each}}
            </table>
        </div>
    </div>

    <div class="row d-flex justify-content-center text-center" style="background-color: darkgray;">
        <div class="col-12">
            <h4>Harley Macêdo - 2020</h4>
        </div>
    </div>
</div>